<!DOCTYPE html>
<html>
  <head>
    <title>Playlist Maker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
        <%= link_to "View Playlist Categories", categories_path %><br>
        <%= link_to "Create a Playlist", new_playlist_path %><br>
        <%= link_to "Logout", logout_path%><br>
    <% else %>
        <%= link_to "Log In", login_path %><br>
        <%= link_to "Sign Up", signup_path %><br>
    <% end %>

    <%= yield %>
  </body>
</html>
